
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@700&display=swap');

:root {
    --gr-color1: hsl(236, 72%, 79%);
    --gr-color2: hsl(237, 63%, 64%);
    --very-light-blue: hsl(240, 78%, 98%);
    --light-bleu: hsl(234, 14%, 74%);
    --bleu: hsl(233, 13%, 49%);
    --dark-bleu: hsl(232, 13%, 33%);
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 30px 10%;
    color: var(--dark-bleu);
    background-color: var(--very-light-blue);
}
ul {
    margin: 0;
    padding: 0;
}

/* Switch Button */
.switch-container {
    margin: auto 10px;
    cursor: pointer;
    display: inline-block;
    width: 50px;
    height: 26px;
    border-radius: 20px;
    background-color: var(--light-bleu);
    position: relative;
}
.ball {
    width: 20px;
    height: 20px;
    position: absolute;
    top:3px;
    right: 3px;
    border-radius: 50px;
    background-color: var(--very-light-blue);
}
.checked {
    background: linear-gradient(45deg,var(--gr-color1),var(--gr-color2))
}
.checked .ball {
    left: 3px;
}


/* header */
.choice {
    display: flex;
    justify-content: center;
}
.bg-top, .bg-bottom {
    position: absolute;
    z-index: -1;
}
.bg-top {
    width: 370px;
    height: 100vh;
    top: 0;
    right: 0;
    background-image: url("../resources/bg-top.svg");
}
.bg-bottom {
    width: 370px;
    height: 250px;
    bottom: 0;
    left: 0;
    background-image: url("../resources/bg-bottom.svg");
}
header {
    color: var(--light-bleu);
}
header h2 {
    color: var(--dark-bleu);
    opacity: 0.8
}
/* Main */
main {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.active {
    transform: scale(1.05);
    color: var(--very-light-blue);
    background: linear-gradient(180deg,var(--gr-color1),var(--gr-color2));
}
.plan {
    background-color: #fff;
    padding: 60px 40px;
    min-width: 320px;
    margin: 10px auto;
    border-radius: 10px;
}
.type {
    font-size: 15px;
}
.price {
    position: relative;
    padding: 0 20px;
    font-size: 54px;
}
.price::before {
    content: "\0024";
    font-size: 24px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}
.prop {
    position: relative;
    padding: 10px 0;
}
.active .prop::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg,var(--gr-color1),var(--gr-color1)) ;
}
.active .proprties .prop:last-of-type::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg,var(--gr-color1),var(--gr-color1));
}

/* button */
.btn {
    margin-top: 15px;
    width: 100%;
    padding: 7px 45px;
    font-size: 12px;
    color: #fff;
    border: 1px solid transparent;
    background: linear-gradient(45deg,var(--gr-color1),var(--gr-color2));
}
.btn:hover {
    border-color: var(--bleu);
    color:  var(--bleu);
    background: transparent;
    transition: .4s;
}

.active .btn {
    color: var(--bleu);
    background: #fff;
}

.active .btn:hover {
    color: #fff;
    border-color: #fff;
    background: transparent;
}


/*  Mobile desing */

@media screen and (max-width: 680px) {
    .bg-top {
        width: 250px;
        position: fixed;
    }
    .bg-bottom {
        position: fixed;
    }
}
